# APK 和构建目录
*.apk
*.ap_
/build/
/.idea/
/.gradle/
/app/build/
/exampleapp/build/
/compressor/build/

# IntelliJ / Android Studio
.idea
*.iml
.gradle
local.properties

# Mac
.DS_Store

# Git LFS
*.lfs
